div.content
  each file in articles
    article.article-container
      div.meta
        div.date= file.time
        div.comments 73 comments
      h1.article-title 
        a(href="/test/#{file.html}")= file.title
      div.continue-read
        p.article-recommend= file.detail
        p.article-entry
          a(href="/test/#{file.html}") 继续阅读 »
