head
  title FreedomShao
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap-theme.min.css")
  link(rel="stylesheet", href="/stylesheets/github-markdown.css" type="text/css")
  link(rel="stylesheet", href="/stylesheets/newStyle.css" type="text/css")
  link(rel="stylesheet", type="text/css", media="screen and (max-width: 640px)",
    href="/stylesheets/tinyScreen.css")
  link(rel="stylesheet",href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css")
  script(src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js")
  script hljs.initHighlightingOnLoad();
  script(src="/jquery/jquery-1.11.1.min.js")
  script(src="/bootstrap/js/bootstrap.min.js")
  script(src="/javascripts/index.js")
  script(src="/javascripts/scrollProgress.js")
