extends layout

block content
  div(class="layout-left")
    div.head-img
      a(href="/")
    h1 
      a(href="/") John Pop
    p 专注 WEB 端开发
    nav.main-nav
      ul.menu-list
        li 
          a(href="/") 首页
        li 
          a(href="/") 归档
        li 
          a(href="/") 标签
        li 
          a(href="/") 关于
        li 
          a(href="/") 友链
        li 
          a(href="/") 分享
    nav.sub-nav
      div.social
        img.social-email(src="/images/email.png")
        img.social-qq(src="/images/qq.png")
        img.social-wechat(src="/images/wechat.png")
  div(class="layout-right")
    if detail == true
      include ./markdownContent.jade
    else
      include ./content.jade
