body{
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.layout-left{
  width: 100%;
  height: 186px;
  text-align: center;
  float: none;
  padding: 0px;
  background-image:none;
  background: #027484;
}


.head-img a{
  height: 56px;
  left: 12px;
  margin: 0;
  position: absolute;
  top: 12px;
  width: 56px;
}

.layout-left h1{
  float: none;
  font-weight: 300;
  font-size: 2em;
}

.layout-right{
  padding: 0 10px;
  height: auto;
  /*overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;*/
}

.layout-right .content{
  padding: 10px 0px 10px 0px;
}

.main-nav{
  margin-top: 10px;
}

.main-nav .menu-list li{
  display: inline;
  margin: 0 10px;
  text-align: center;
}

.layout-right{
  float: none;
  margin: 0px;
}

.layout-right .content .article-container .meta{
  float: none;
}

.layout-right .content .article-container .meta .date{
  margin-right: 30px;
  display: inline;
}

.layout-right .content .article-container .meta .comments{
  display: inline;
}

.content-tables{
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
